div {
    border: 2px solid black;
    width: 350px;
    height: 100px;
}

p {
    border: 2px solid black;
    display: inline-block;
}

p.p1 {
    position: relative;
    left: 5px;
    bottom: 10px;
    width: 100px;
    height: 30px;
}

p.p2 {
    position: relative;
    left:170px;
    bottom:8px;
}

p.p3 {
    position:absolute;
    top: 50px;
    width: 270px;
    left:80px;
}